{% macro nutshell(component, link_param, connector) %}
		<link xconnector="{{'conBase#' .. connector}}">
			<bind role="onSelection" component="{{component}}"/>
			<linkParam name="keyCode" value="{{link_param}}"/>
			{{ caller () }}	
		</link>
{% endmacro %}
{# endmacro nutshell #}

{% macro setAction(name, values) -%}
	{%+ for i in values %}
			<bind role="{{name}}" component="{{i}}"/>
	{% endfor %}
{% endmacro %}
{# endmacro setRole #}

{% macro setEnv() %}
	{% set key = {'RED', 'GREEN', 'YELLOW', 'BLUE'} %}
	{% set buttons = {} %} 
	{% for i in files_list.buttons %}
		{% set buttons = table.insert(buttons, i.name) %}
	{% endfor %}  
	{{ caller (key,buttons) }}
{% endmacro %}